@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 56px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  margin-top: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-template-rows: repeat(3, 1fr);
  height: 500px;
  width: 500px;
  background-color: black;
  margin: 0 auto;
  margin-top: 30px;
}

#btn-reset {
  position: absolute;
  left: 50%;
  top: 720px;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.game-space {
  background-color: rgb(240, 230, 230);
}

.blue-x {
  color: blue;
  font-size: 120px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-o {
  color: red;
  font-size: 120px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
